* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "nunito";
}

.sectionPrincipal {
    padding-top: 3.75rem;
    background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    min-height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    
}


.contenedor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.25rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; 
    transition: background-color 0.3s ease; 
    z-index: 1000; 
}
.scrolled {
    background-color: rgb(219,70,72); 
}

.headerRegistro{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.25rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(219,70,72); 
    transition: background-color 0.3s ease; 
    z-index: 1000; 
}


.proyecto {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 50px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    margin: 10px;
    
}

.footer {
    display: flex;
    background-color: rgb(219,70,72);
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

.linkFooter {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.button {
    margin: 10px;
    padding: 10px;
    border-radius: .625rem;
}


.titulo {
    text-align: center;
    font-size: 70px ;
    padding-top: 5.3125rem;
    color: aliceblue;
}

.subTituloSecPrin{
    text-align: center;
    font-size: 2.1875rem;
    padding-top: 1.25rem;
    color: aliceblue;
    padding-bottom: 1.875rem;
    
}

.subTitulo {
    text-align: center;
    font-size: 2.1875rem;
    padding-top: 1.25rem;
    color: aliceblue;
    padding-bottom: 1.875rem;
    background-color: rgb(24,20,25);
}

.btnRegistro {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
}

.contenedorBtnRegistro{
    width: 9.375rem;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #9f3647;
    border-radius: .9375rem;
    padding: .625rem;
    
}


.sectionDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    background-color: rgb(24,20,25);
}

.buscador {
    font-size: 2.8125rem;
    color: #ffffff;
    padding-top: 1.25rem;

}

.inputBuscador {
    margin-top: 1.625rem;
    width: 46.875rem;
    padding: 10px;
    border: 3px solid white;
    border-radius: 1.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
}

.sectionTres {
    background-color: rgb(24,20,25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.875rem;
    padding-top: 1.25rem;
    overflow-y: auto;
    max-height: 56.25rem;
}

.sectionCuatro {
    background-color: rgb(24,20,25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 3.75rem;
    overflow-x: auto;
    
    
}

.formulario {
    background-color: rgba(28, 27, 27, 0.899);
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.875rem;
    border-radius: 1.25rem;
    width: 21.875rem;
}

.form{
    text-align: left;
    
}

.contenedorRegistro {
    background-image: url('../img/bg-register.jpg');
    padding-bottom: .9375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

    height: 90vh;

}

.tituloFormulario {
    padding: .625rem;
    color: #ffffff;
    font-size: 3.125rem;

}



.btnSubmit {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .9375rem;
    background-color: brown;
    color: white;
    font-weight: bold;
    margin-left: 1.875rem;
}

.inputRegistro {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: .3125rem;
}

.labelRegistro {
    font-weight: bold;
    color: aliceblue;
    font-size: 1.5625rem;
    
}
.contenedorCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px; 
    
}
.cards{
    width: 300px;
    height: 31.25rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    overflow: hidden;
}
.imgCards{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.contenedorCards2{
    display: inline-flex;
    gap:40px;
    
    
}


