* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "nunito";
}

.contenedor {
    background-color: rgb(219,70,72);
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 4rem;
}

.contenedor nav {
    margin-right: 3.125rem;
}

.proyecto {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 50px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    margin: 10px;
    
}

.footer {
    display: flex;
    background-color: rgb(156, 54, 54);
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

.linkFooter {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.button {
    margin: 10px;
    padding: 10px;
    border-radius: .625rem;
}

.sectionPrincipal {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 56.25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sectionPrincipal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/banner-bg.jpg");
    background-size: cover;
    opacity: 0.7; 
    z-index: -1; 
}


.titulo {
    font-size: 70px ;
    padding-top: 5.3125rem;
    color: aliceblue;
}

.subTitulo {
    font-size: 2.1875rem;
    padding-top: 1.25rem;
    color: aliceblue;
    margin-bottom: 1.25rem;
}

.btnRegistro {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
}
.contenedorBtnRegistro{
    margin-top: 2.50rem ;
    width: 9.375rem;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #9f3647;
    border-radius: .9375rem;
    padding: .625rem;
    
}


.sectionDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    background-color: rgb(24,20,25);
}

.buscador {
    font-size: 2.8125rem;
    color: #ffffff;
    padding-top: 1.25rem;

}

.inputBuscador {
    margin-top: 1.625rem;
    width: 46.875rem;
    padding: 10px;
    border: 3px solid white;
    border-radius: 1.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
}

.sectionTres {
    background-color: rgb(24,20,25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.875rem;
    padding-top: 1.25rem;
    
}

.sectionCuatro {
    background-color: rgb(24,20,25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 3.75rem;
    
}

.formulario {
    background-color: rgba(63, 60, 60, 0.45);
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.875rem;
    border-radius: 1.25rem;
}

.contenedorRegistro {
    background-color: rgba(128, 128, 128, 0.428);
    padding-bottom: .9375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}

.tituloFormulario {
    padding: .625rem;

}

.btnSubmit {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .9375rem;
    background-color: brown;
    color: white;
    font-weight: bold;
    margin-left: 1.875rem;
}

.inputRegistro {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: .3125rem;
}

.labelRegistro {
    font-weight: bold;
    font-size: .9375rem;

}
.contenedorCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px; 
    
}
.cards{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 1.25rem;
}

.contenedorCards2{
    display: inline-flex;
    gap:40px;
}

